rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /profiles/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;
    }
    match /payments/{paymentId} {
      allow read, write: if false;
    }
    match /admin_notifications/{notificationId} {
      allow read, write: if false;
    }
  }
}
